body {
  font-family: Arial, sans-serif;
}

.cart-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.cart-item img {
  width: 80px;
  margin-right: 20px;
}

.cart-item-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-item-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.cart-item-details {
  color: #777;
  font-size: 14px;
}

.remove-btn {
  margin: 20px;
  background-color: #2ecc71;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(46, 204, 113, 0.3);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.remove-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(46, 204, 113, 0.5);
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-btn {
  background-color: rgba(46, 204, 113, 0.5);
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.cart-item-quantity input {
  width: 40px;
  text-align: center;
  margin: 0 10px;
}

.cart-item-actions {
  margin-left: auto;
}

.checkout-btn {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-btn:disabled {
  background-color: #777;
}

.error-message {
  margin-top: 20px;
  padding: 10px;
  background-color: #f44336;
  color: white;
  border-radius: 5px;
}
